common:
  context: local
  logdir: agent/log/robotmk
  tmpdir: agent/tmp/robotmk
  resultdir: agent/log/robotmk/results
  robotdir: agent/robots
  log_level: INFO
  log_retention: 13
  #robocorp_home: TODO
suites:
  suite_default:
    path: suiteA
    tag: footag
    piggybackhost:
    run:
      target: local
      mode: default
      rcc: false
    params:
      variable:
        vara: a
        varb: b
    retry_failed:
      retry_attempts: 2
      strategy: incremental
        #strategy: complete
        #      rerun_selection:
        #        exclude:
        #        - sdfgdf
        #        include:
        #        - sfg
        #        suite:
        #        - suite1
        #        test:
        #        - sfdgsdf
    scheduling:
      interval: 30
      allow_overlap: false
  suite_default_rcc:
    path: suiteA
    tag: footag
    piggybackhost: fff
    run:
      target: local
      mode: default
      rcc: true
    params:
      variable:
        vara: a
        varb: b
    retry_failed:
      retry_attempts: 2
      strategy: incremental
        #      rerun_selection:
        #        exclude:
        #        - sdfgdf
        #        include:
        #        - sfg
        #        suite:
        #        - suite1
        #        test:
        #        - sfdgsdf
    scheduling:
      interval: 30
      allow_overlap: false
  # suite_remote_dummy1:
  #   path: suiteA
  #   tag: footag
  #   piggybackhost: pbhost_bremen
  #   run:
  #     target: remote
  #   params:
  #     variable:
  #       vara: a
  #       varb: b
  #   retry_failed:
  #     retry_attempts: 2
  #     strategy: incremental
  #   scheduling:
  #     interval: 30
  #     allow_overlap: false
  # suite_remote_dummy2:
  #   path: suiteA
  #   tag: footag
  #   piggybackhost: pbhost_muenchen
  #   run:
  #     target: remote
  #   params:
  #     variable:
  #       vara: a
  #       varb: b
  #   retry_failed:
  #     retry_attempts: 2
  #     strategy: incremental
  #   scheduling:
  #     interval: 30
  #     allow_overlap: false
  # suite_remote_dummy3:
  #   path: suiteA
  #   tag: footag
  #   piggybackhost: pbhost_augsburg
  #   run:
  #     target: remote
  #   params:
  #     variable:
  #       vara: a
  #       varb: b
  #   retry_failed:
  #     retry_attempts: 2
  #     strategy: incremental
  #   scheduling:
  #     interval: 30
  #     allow_overlap: false
  # suite_remote_dummy4:
  #   path: suiteA
  #   tag: footag
  #   piggybackhost: pbhost_bonn
  #   run:
  #     target: remote
  #   params:
  #     variable:
  #       vara: a
  #       varb: b
  #   retry_failed:
  #     retry_attempts: 2
  #     strategy: incremental
  #   scheduling:
  #     interval: 30
  #     allow_overlap: false
