[package]
name = "robotmk"
version = "2.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0.79", features = ["backtrace"] }
base64 = "0.21.5"
camino = { version = "1.1.6", features = ["serde1"] }
chrono = "0.4.31"
clap = { version = "4.4.13", features = ["derive"] }
ctrlc = "3.4.2"
flexi_logger = "0.27.3"
fs4 = "0.7.0"
log = "0.4.20"
serde = { version = "1.0.194", features = ["derive"] }
serde_json = "1.0.111"
sysinfo = "0.30.4"
tempfile = "3.9.0"
tokio = { version = "1.35.1", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["full"] }
walkdir = "2.4.0"
winsafe = { version = "0.0.19", features = [ "ole" ] }
[dependencies.windows]
version = "0.52.0"
features = [
    "Win32_System_Com",
    "Win32_System_TaskScheduler",
    "Win32_System_Ole",
    "Win32_Foundation",
    "Win32_System_Variant",
]

[dev-dependencies]
assert_cmd = "2.0.12"

[[bin]]
name = "robotmk_agent_plugin"
path = "src/bin/agent_plugin.rs"

[[bin]]
name = "robotmk_scheduler"
path = "src/bin/scheduler/main.rs"
