---
name: "System tests"

on:
  workflow_call: {}

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-pc-windows-msvc
          # By default, setup-rust-toolchain sets "-D warnings". As a side effect, the settings in
          # .cargo/config.toml are ignored:
          # https://doc.rust-lang.org/cargo/reference/config.html#buildrustflags
          # "There are four mutually exclusive sources of extra flags"
          rustflags: ""
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - run: pip install -r tests/minimal_suite/requirements.txt
      - uses: actions/download-artifact@v4
        with:
          name: rcc
          path: C:\
      - uses: actions/download-artifact@v4
        with:
          name: micromamba
          path: C:\

      # MSVC uses vctip.exe for telemetry. vctip.exe is started as a child of termination.exe. This
      # can cause CI failures, if "vctip.exe" does not terminate before `get_children` is called.
      # The following command is intended turn off telemetry via vctip.exe.
      - shell: pwsh
        run: Get-ChildItem -Filter vctip.exe -Recurse "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Tools\\MSVC" | rm
      - run: cargo test --target=x86_64-pc-windows-msvc --test test_plan_run --test test_agent_plugin -- --ignored
      - run: cargo run --example termination --target=x86_64-pc-windows-msvc -- system-python
      - run: cargo run --example termination --target=x86_64-pc-windows-msvc -- rcc C:\windows64\rcc.exe
      - run: cargo run --example termination --target=x86_64-pc-windows-msvc -- micromamba C:\micromamba.exe

      - run: mkdir C:\managed_robots
      - run: tar --create -z --directory tests\minimal_suite\ --file C:\managed_robots\minimal_suite.tar.gz *
      - run: net user "test_user" "uCjV*NRE#XH2a" /add
      - run: cargo test --target=x86_64-pc-windows-msvc --test test_scheduler -- --nocapture --ignored
        env:
          TEST_DIR: C:\test_scheduler
          RCC_BINARY_PATH: C:\windows64\rcc.exe
          MICROMAMBA_BINARY_PATH: C:\micromamba.exe
          MANAGED_ROBOT_ARCHIVE_PATH: C:\managed_robots\minimal_suite.tar.gz
          N_SECONDS_RUN_MAX: 900
          TEST_USER: test_user
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_windows
          path: C:\test_scheduler

      - run: cargo test --target=x86_64-pc-windows-msvc --test test_scheduler_plan_mode -- --nocapture --ignored --test-threads=1
        env:
          TEST_DIR: C:\test_scheduler_plan_mode
          RCC_BINARY_PATH: C:\windows64\rcc.exe
          MICROMAMBA_BINARY_PATH: C:\micromamba.exe
          N_SECONDS_RUN_MAX: 900
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_windows_plan_mode
          path: C:\test_scheduler_plan_mode

      - shell: pwsh
        run: Remove-Item -Recurse -Force -ErrorAction SilentlyContinue C:\robotmk_post_build_command_test
      - run: cargo test --target=x86_64-pc-windows-msvc --test test_conda_post_build_commands -- --nocapture --ignored
        env:
          MICROMAMBA_BINARY_PATH: C:\micromamba.exe
          BUILD_TIMEOUT: 10
      
      - run: cargo test --target=x86_64-pc-windows-msvc test_take_ownership_recursively -- --nocapture --ignored

  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update
      - run: sudo apt-get install -y musl-tools
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-unknown-linux-musl
          # By default, setup-rust-toolchain sets "-D warnings". As a side effect, the settings in
          # .cargo/config.toml are ignored:
          # https://doc.rust-lang.org/cargo/reference/config.html#buildrustflags
          # "There are four mutually exclusive sources of extra flags"
          rustflags: ""
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - run: pip install -r tests/minimal_suite/requirements.txt
      - uses: actions/download-artifact@v4
        with:
          name: rcc
          path: /tmp/
      # file permissions are not retained during upload:
      # https://github.com/actions/upload-artifact?tab=readme-ov-file#permission-loss
      - run: chmod +x /tmp/linux64/rcc
      - uses: actions/download-artifact@v4
        with:
          name: micromamba
          path: /tmp/
      # file permissions are not retained during upload:
      # https://github.com/actions/upload-artifact?tab=readme-ov-file#permission-loss
      - run: chmod +x /tmp/micromamba

      - run: cargo test --target=x86_64-unknown-linux-musl --test test_plan_run --test test_agent_plugin -- --ignored
      - run: cargo run --example termination --target=x86_64-unknown-linux-musl -- system-python
      - run: cargo run --example termination --target=x86_64-unknown-linux-musl -- rcc /tmp/linux64/rcc
      - run: cargo run --example termination --target=x86_64-unknown-linux-musl -- micromamba /tmp/micromamba

      - run: mkdir /tmp/managed_robots
      - run: tar --create --gzip --directory tests/minimal_suite/ --file /tmp/managed_robots/minimal_suite.tar.gz .
      - run: cargo test --target=x86_64-unknown-linux-musl --test test_scheduler -- --nocapture --ignored
        env:
          TEST_DIR: /tmp/test_scheduler
          RCC_BINARY_PATH: /tmp/linux64/rcc
          MICROMAMBA_BINARY_PATH: /tmp/micromamba
          MANAGED_ROBOT_ARCHIVE_PATH: /tmp/managed_robots/minimal_suite.tar.gz
          N_SECONDS_RUN_MAX: 600
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_linux
          path: /tmp/test_scheduler

      - run: cargo test --target=x86_64-unknown-linux-musl --test test_scheduler_plan_mode -- --nocapture --ignored --test-threads=1
        env:
          TEST_DIR: /tmp/test_scheduler_plan_mode
          RCC_BINARY_PATH: /tmp/linux64/rcc
          MICROMAMBA_BINARY_PATH: /tmp/micromamba
          N_SECONDS_RUN_MAX: 600
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_linux_plan_mode
          path: /tmp/test_scheduler_plan_mode

      - run: cargo test --target=x86_64-unknown-linux-musl --test test_ht_import_scheduler -- --nocapture --ignored
        env:
          TEST_DIR: /tmp/test_ht_import_scheduler
          RCC_BINARY_PATH: /tmp/linux64/rcc
          N_SECONDS_RUN_MAX: 120
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_ht_import
          path: /tmp/test_ht_import_scheduler

      - run: cargo test --target=x86_64-unknown-linux-musl --test test_conda_from_archive_scheduler -- --nocapture --ignored
        env:
          TEST_DIR: /tmp/test_conda_from_archive_scheduler
          MICROMAMBA_BINARY_PATH: /tmp/micromamba
          N_SECONDS_RUN_MAX: 120
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: system_test_debug_information_conda_from_archive
          path: /tmp/test_conda_from_archive_scheduler

      - run: rm -rf /tmp/robotmk_post_build_command_test
      - run: cargo test --target=x86_64-unknown-linux-musl --test test_conda_post_build_commands -- --nocapture --ignored
        env:
          MICROMAMBA_BINARY_PATH: /tmp/micromamba
          BUILD_TIMEOUT: 10
